@import "@fontsource/inter";
@import "tailwindcss";
@config "../../tailwind.config.js";

@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(139, 92, 246, 0.5);
  }
}

html {
  scroll-behavior: smooth;
}